body{
    font-family: 'Roboto', sans-serif;
}



input{
    height: 42px;
    width: 385px;
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    padding-left: 15px;
    border: 2px solid #FFFFFF;

}

input, textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
    }

input:focus{
    border: 2px solid #854FC8;
    border-radius: 6px;
    }

::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;   
    color: #D0C9D6;
}

.question-form-container{

    height: 392px;
    width: 481px;
    left: 272px;
    top: 31px;
    border-radius: 12px;
    background: #F7F5F9;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 10px 5px 25px -8px #A1A1A8;

}

.form-title{
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 25px;
    height: 20px;
    width: 168px;
    left: 312px;
    top: 71px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #3B3D43;

}

.form-field{
    width: 401px;
    height: 48px;
    margin-bottom: 25px;
    margin-right: 40px;
    margin-left: 40px;
    background: #FFFFFF;
    border-radius: 6px;
}

.button {
    height: 48px;
    width: 401px;
    border-radius: 6px;
    margin-left: 40px;
    margin-right: 40px;
    background: #6979F8;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    align-items: center;
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
}

button:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
   }